body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
.container {
    width: 364px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.container,
.screen,
.buttons,
button {
    border: solid;
    border-width: 2px;
    border-radius: 15px;
}

.screen {
    height: 60px;
    margin: 10px;
    text-align: right;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttons {
    height: 350px;
    margin: 10px;
    padding: 5px;
    padding-top: 16px;

}

button {
    height: 70px;
    width: 70px;
    margin: 5px;
}

.row {
    display: flex;
    justify-content: center;
}

p {
    height: 25px;
    margin: 0;
    
}

#bottom {
    font-size: 30px;
}