

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: "Oxanium", sans-serif;
    background-color: #FFF8D4;
}
.container {
    width: 364px;
    height: 560px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-color: #313647;
}
.container,
.screen,
.buttons,
button {
    border: solid;
    border-width: 2px;
    border-radius: 15px;
}

.screen {
    height: 60px;
    margin: 10px;
    text-align: right;
    padding: 10px;
    background-color: rgb(213, 215, 216);
}

.buttons {
    height: 430px;
    margin: 10px;
    padding: 5px;
    padding-top: 16px;
    background-color: #435663;
}

button {
    height: 70px;
    width: 70px;
    margin: 5px;
    font-family: "Oxanium", sans-serif;
    font-size: 20px;
    background-color: #A3B087;
}

button:disabled {
    background-color: #A3B087;
    color: black;
    border-color: black; 
}
.row {
    display: flex;
    justify-content: center;
}

.display {
    height: 25px;
    margin: 0;
    
    
}

#bottom {
    font-size: 40px;
    font-weight: bold;
}

#top {
    height: 20px;
    font-size: 20px;
}

.clear {
    flex: 1;
}

#ac {
    background-color: rgb(180, 91, 91);
}